/* CourseCard.css */
.course-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card h3 {
  color: #246C3C;
  font-size: 1.5rem;
}

.course-card p {
  color: #333;
  margin-bottom: 20px;
}

.course-card button {
  background-color: #5EBC78;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.course-card button:hover {
  background-color: #3CA65C;
}

/* Responsive */
@media (max-width: 768px) {
  .course-card {
    padding: 15px;
  }

  .course-card h3 {
    font-size: 1.25rem;
  }
}
