.reviews-container {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
  }
  
  .reviews-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #246C3C; 
  }
  
  .reviews-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .review {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 80%;
    max-width: 600px;
    text-align: left;
  }
  
  .review-comment {
    font-style: italic;
    color: #555;
  }
  
  .review-name {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
  }
  
  .review-rating {
    margin-top: 5px;
    color: #f39c12;
  }
  